// Colors
$white: #ffffff;
$gray20: #f5f5f5;
$gray40: #cccccc;
$gray60: #999999;
$gray80: #666666;
$gray100: #333333;

$blue-accent: #2196f3;
$blue-dark: #1976d2;

// Spacing
$spacing-3xs: 4px;
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-sm: 24px;
$spacing-md: 32px;
$spacing-lg: 48px;
$spacing-xl: 64px;
